@use "../base/mixin" as *;
@use "../base/variables" as *;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "aside"
        "main";
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @media #{$xsMin} {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "aside main";
    }
}

.menuToggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media #{$xsMin} {
        display: none;
    }

    input {
        appearance: none;
        margin: 0;
        pointer-events: none;
    }

    &::before,
    &::after,
    input {
        content: "";
        width: 20px;
        height: 2px;
        background-color: $color_darkBlue_600;
        border-radius: 9999px;
    }

    &:has(input:checked) {
        + nav {
            translate: 0 0;
        }
    }
}

nav {
    padding: 100px 20px;
    position: fixed;
    z-index: 8;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: $color_white;
    transition: all 0.3s ease-out;

    @media #{$xsMax} {
        top: 0;
        left: 0;
        width: 100%;
        padding: 60px 20px;
        translate: -100% 0;
    }

    a {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        color: $color_darkBlue_600;
        padding: 4px 16px;
        border-bottom: 1px solid #ccc;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 0;
            height: 100%;
            background-color: $color_darkBlue_600;
            opacity: 0.2;
            transition: all 0.3s ease-out;
        }

        &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><path d="M9 6 L15 12 L9 18" /></svg>');
            opacity: 0;
            translate: -50% 0;
            transition: all 0.3s ease-out;
        }

        &:hover {
            &::before {
                width: 100%;
            }

            &::after {
                opacity: 1;
                translate: 0 0;
            }
        }

        &.active {
            color: $color_orange;
        }
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 828px;
    padding: 100px 20px;
    margin: 0 auto;
    overflow: auto;
}

.selectWrapper {
    width: 200px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

code {
    @include c1;
}
